{% extends "base.html.twig" %}

{% block content %}
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="hidden" name="action" value="changepass">
        <h3>{{ lang.change_password }}</h3>
        {% if error!="" %}<b style="color:red">{{ error }}</b>{% endif %}

            <label class="" for="pw1">{{ lang.input_newpassword }}</label><input type="password" name="pw1" id="pw1" value=""  >

            <label class="" for="pw2">{{ lang.input_confpassword }}</label><input type="password" name="pw2" id="pw2" value=""  ></label>

            <div class="">&nbsp;</div>
            <input type="submit" value="{{ lang.input_submit }}">

    </form>
{% endblock %}

{% block sidebar %}
    <a href="?a=deviceslist" class="button u-full-width" >{{ lang.my_devices }}</a>
    <a href="?a=n" class="button u-full-width" >{{ lang.add_device }}</a>
    <a href="#" class="button u-full-width button-primary" >{{ lang.change_password }}</a>
    {# <a href="#" class="button u-full-width" >Preferences</a> #}
    <a href="/?a=d" class="button u-full-width" >{{ lang.disconnect }}</a>
{% endblock %}