{% extends "base.html.twig" %}

{% block content %}

<div style="margin-left: auto; margin-right: auto;">
    <center>
        {% if error!="" %}<h3 style="color:red">{{ error }}</h3>{% endif %}
    <table class="tab1">
        <tr>
            <th colspan="2"><a href="?a=n"><img style="border: none" src="/pict/plu.png" title="{{ lang.table_new }}"></a></th>
            <th>{{ lang.table_devtype }}</th>
            <th>{{ lang.table_devid }}</th>
            <th>{{ lang.table_actype }}</th>
            <th>{{ lang.table_acreg }}</th>
            <th>{{ lang.table_accn }}</th>
            <th>{{ lang.table_notrack }}</th>
            <th>{{ lang.table_noident }}</th>
        </tr>

        {% for device in devicelist %}
        <tr>
            <td class="tab2">
                <form action="/" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="action" value="updatedev">
                    <input type="hidden" name="devid" value="{{ device.dev_id }}">
                    <input border=0 src="/pict/mod.gif" type="image" value="submit" title="{{ lang.table_update }}">
                </form>
            </td>
            <td class="tab2">
                <form action="/" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="action" value="deletedev">
                    <input type="hidden" name="devid" value="{{ device.dev_id }}">
                    <input border=0 src="/pict/bin.gif" type="image" value="submit" title="{{ lang.table_delete }}">
                </form>
            </td>
            <td class="tab2"> {{ devicetypes[device.dev_type] }}</td>
            <td class="tab2">{{ device.dev_id }}</td><td class="tab2">{{ device.ac_type }}</td>
            <td class="tab2">{{ device.dev_acreg }}</td>
            <td class="tab2">{{ device.dev_accn }}</td>
            <td class="tab2"><img src="/pict/yn{{ device.dev_notrack }}.gif"></td>
            <td class="tab2"><img src="/pict/yn{{ device.dev_noident }}.gif"></td>
        </tr>
        {% else %}
            <center>{{ lang.error_nodevice }}, {{ lang.table_new }}: <a href="?a=n"><img style="border: none" src="/pict/plu.png" title="{{ lang.table_new }}"></a></center>
        {% endfor %}
    </table></center>
{% endblock %}

{% block disconnect %} <a href="/?a=d"> {{ lang.disconnect }}</a><br> {% endblock %}
