<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ lang.email_claimsubject }}</title>
</head>
<body>
{{ lang.email_claim | raw }}
It looks that you are not the owner anymore of the following device: <br> 
Dev: {{ devid  }}  <br>
Reg: {{ acreg  }}  <br>
CN:  {{ accn   }}  <br>
By:  {{ touser }}  <br><br>
Please <b>de register</b> that device on: <b>http://ddb.glidernet.org </b><br><br>
It will be deeply appreciated. <br>
The OGN team. <br>
</body>
</html>
