{% extends "base.html.twig" %}

{% block content %}

<DIV style="margin-left: auto; margin-right: auto; width:450px">
<CENTER>
    <FORM action="index.php" ENCTYPE="multipart/form-data" method="post">
        <INPUT type="hidden" name="action" value="createuser">
        <H2>{{ lang.input_create }}</H2>
        {% if error!="" %}<H3 style="color:red">{{ error }}</H3>{% endif %}
        <TABLE>
            <TR><TD>{{ lang.input_login }}</TD><TD><INPUT TYPE="text" name="user" VALUE="{{ user }}" SIZE=25></TD></TR>
            <TR><TD>{{ lang.input_password }}</TD><TD><INPUT TYPE="password" name="pw1" VALUE="" SIZE=25></TD></TR>
            <TR><TD>{{ lang.input_confpassword }}</TD><TD><INPUT TYPE="password" name="pw2" VALUE="" SIZE=25></TD></TR>
            <TR><TD colspan="2">{{ lang.input_verif }}<BR>{{ v1 }} x {{ v2 }} =<INPUT TYPE="text" name="verif" VALUE="" SIZE=5></TD></TR>
        </TABLE>
        <input type="submit" value="{{ lang.input_submit }}"></FORM>
{% endblock %}

{# {% block disconnect %} <a href="index.php?a=d"> {{ lang.disconnect }}</a><br> {% endblock %} #}
