{% extends "base.html.twig" %}

{% block content %}

<div style="margin-left: auto; margin-right: auto; width:450px">
<center>
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="hidden" name="action" value="createdev">
        <h2>{{ lang.input_createdev }}</h2>
        {% if error!="" %}<h3 style="color:red">{{ error }}</h3>{% endif %}
        <table>
            <tr>
                <td class="inp">{{ lang.table_devtype }}</td>
                <td>
                    <input type="radio" name="devtype" value="1" {{ dtypc[1] }}>ICAO
                    <input type="radio" name="devtype" value="2" {{ dtypc[2] }}>Flarm
                    <input type="radio" name="devtype" value="3" {{ dtypc[3] }}>OGN
                </td>
            </tr>
            <tr>
                <td class="inp">{{ lang.table_devid }}</td>
                <td><input type="text" name="devid" value="{{ devid }}" size="25" maxlength="6"></td>
            </tr>
            <tr>
                <td class="inp">{{ lang.table_actype }}</td>
                <td>
                    <select name="actype">
                        {% for category,aircraft in aircrafts %}
                        <optgroup label="{{ catarray[category] }}">
                            {% for ac in aircraft %}
                            <option value="{{ ac.id }}" {{ ac.selected }}>{{ ac.type }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                        </select>
                </td>
            </tr>
            <tr>
                <td class="inp">{{ lang.table_acreg2 }}</td>
                <td><input type="text" name="acreg" value="{{ acreg }}" size="25" maxlength="7"></td>
            </tr>
            <tr>
                <td class="inp">{{ lang.table_accn2 }}</td>
                <td><input type="text" name="accn" value="{{ accn }}" size="25" maxlength="3"></td>
            </tr>
            <tr>
                <td class="inp"><input type="checkbox" name="notrack" value="yes" {{ cnotrack }}></td>
                <td>{{ lang.input_notrack }}</td>
            </tr>
            <tr>
                <td class="inp"><input type="checkbox" name="noident" value="yes" {{ cnoident }}></td>
                <td>{{ lang.input_noident }}</td>
            </tr>
            <tr>
                <td class="inp"><input type="checkbox" name="owner" value="yes"></td>
                <td>{{ lang.input_owner }}</td>
            </tr>

        </table>
        <input type="submit" value="{{ lang.input_submit }}">
    </form>
    &nbsp;&nbsp;&nbsp;
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="hidden" name="action" value="deviceslist">
        <input type="submit" value="{{ lang.input_cancel }}">
    </form>

{% endblock %}


{# {% block disconnect %} <a href="/?a=d"> {{ lang.disconnect }}</a><br> {% endblock %} #}
