{% extends "base.html.twig" %}

{% block sidebar %}
    <a href="/" class="button button-primary u-full-width" >{{ lang.home }}</a>
    {# <a href="#" class="button u-full-width" >Browse the DDB</a> #}
    <a href="/?a=u" class="button u-full-width" >{{ lang.create_account }}</a>

    <h5>{{ lang.login }}</h5>
    <form action="/" enctype="multipart/form-data" method="post">

        <input type="hidden" name="action" value="login">
        {% if error != '' %}<b style="color:red">{{  error }}</b> {% endif %}

        <label>{{ lang.input_login }}<br>
        <input type="email" name="user" value="{{ user }}" class="u-full-width" placeholder="example@email.com"></label>
        <label>{{ lang.input_password }} <br>
        <input type="password" name="pw" value="" class="u-full-width" ></label>
        <input type="submit" value="{{ lang.input_submit }}" class="u-full-width">

    </form>
{% endblock %}

{% block content %}
    {{ lang.welcome_text|raw }}
    <p>{{ lang.input_nouser }}<a href="/?a=u">{{ lang.input_create }}</a></p>
    <p><b> {{ nbdevices  }} {{ lang.input_nbdevices }}</b></p>
{% endblock %}


{# {% block disconnect %} <a href="/?a=d"> {{ lang.disconnect }}</a><br> {% endblock %} #}
