{% extends "base.html.twig" %}

{% block content %}
<div style="margin-left: auto; margin-right: auto; width:450px">
<center>
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="hidden" name="action" value="login">
        <h2> {{ lang.welcome }}</h2>
        {% if error != '' %}<h3 style="color:red">{{  error }}</h3> {% endif %}
        <table>
            <tr><td>{{ lang.input_login }}</td><td><input type="text" name="user" value="{{ user }}" SIZE=25></td></tr>
            <tr><td>{{ lang.input_password }}</td><td><input type="password" name="pw" value="" SIZE=25></td></tr>
        </table>
        <input type="submit" value="{{ lang.input_submit }}"></form>
    <br><br>
    {{ lang.input_nouser }}<a href="/?a=u">{{ lang.input_create }}</a><br><br>(&nbsp;<b> {{ nbdevices  }} {{ lang.input_nbdevices }}</b>&nbsp;)

</center></div>

{% endblock %}

{# {% block disconnect %} <a href="/?a=d"> {{ lang.disconnect }}</a><br> {% endblock %} #}
