{% extends "base.html.twig" %}

{% block content %}
<DIV style="margin-left: auto; margin-right: auto; width:450px">
<CENTER>
    <FORM action="/" ENCTYPE="multipart/form-data" method="post">
        <INPUT type="hidden" name="action" value="login">
        <H2> {{ lang.welcome }}</H2>
        {% if error != '' %}<H3 style="color:red">{{  error }}</H3> {% endif %}
        <TABLE>
            <TR><TD>{{ lang.input_login }}</TD><TD><INPUT TYPE="text" name="user" VALUE="{{ user }}" SIZE=25></TD></TR>
            <TR><TD>{{ lang.input_password }}</TD><TD><INPUT TYPE="password" name="pw" VALUE="" SIZE=25></TD></TR>
        </TABLE>
        <input type="submit" value="{{ lang.input_submit }}"></FORM>
    <BR><BR>
    {{ lang.input_nouser }}<A HREF="/?a=u">{{ lang.input_create }}</A><BR><BR>(&nbsp;<B> {{ nbdevices  }} {{ lang.input_nbdevices }}</B>&nbsp;)

</CENTER></DIV>

{% endblock %}

{# {% block disconnect %} <a href="/?a=d"> {{ lang.disconnect }}</a><br> {% endblock %} #}
